@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins";
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
  }
.background{
    background: linear-gradient(167.27deg, #95B8FF -5.94%, rgba(0, 57, 171, 0.19) 103.62%);
}

.button{
border-radius: 16px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.bg-button1{
  background: linear-gradient(129.7deg, rgba(255, 255, 255, 0.6) -9.69%, rgba(255, 255, 255, 0.4) 114.23%);
  
}
.bg-button2{
  background: linear-gradient(203.57deg, #ADD8FF -8.99%, rgba(173, 216, 255, 0.28) 111.42%);
}

